body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Basic-Paragraph {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Bree Serif", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.ParaOverride-1 {
	text-align:right;
}
p.ParaOverride-2 {
	text-align:justify;
	text-align-last:right;
}
p.ParaOverride-3 {
	text-align:center;
}
span.CharOverride-1 {
	color:#41ad49;
	font-family:"Bree Serif", serif;
	font-size:40px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	font-family:"Bree Serif Light", serif;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-3 {
	font-family:"Bree Serif", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	font-family:"Bree Serif", serif;
	font-size:3px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	font-family:"Bree Serif Lt", serif;
	font-size:13px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-6 {
	font-family:"Bree Serif", serif;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	font-family:"Bree Serif", serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	font-family:"Bree Serif Lt", serif;
	font-size:11px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-9 {
	font-family:"Bree Serif Lt", serif;
	font-size:4px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-10 {
	font-family:"Bree Serif", serif;
	font-size:6px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	font-family:"Bree Serif", serif;
	font-size:7px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-12 {
	font-family:"Bree Serif Lt", serif;
	font-size:5px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-13 {
	font-family:"Bree Serif", serif;
	font-size:19px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	font-family:"Bree Serif Lt", serif;
	font-size:16px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-15 {
	color:#41ad49;
	font-family:"Bree Serif", serif;
	font-size:36px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-16 {
	font-family:"Bree Serif", serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-17 {
	font-family:"Bree Serif", serif;
	font-size:20px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-18 {
	color:#41ad49;
	font-family:"Bree Serif", serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-19 {
	font-family:"Bree Serif Lt", serif;
	font-size:10px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-20 {
	font-family:"Bree Serif", serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-21 {
	font-family:"Bree Serif", serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-22 {
	color:#ffffff;
	font-family:"Bree Serif", serif;
	font-size:27px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-23 {
	color:#41ad49;
	font-family:"Bree Serif", serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-24 {
	color:#41ad49;
	font-family:"Bree Serif", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-25 {
	color:#41ad49;
	font-family:"Bree Serif", serif;
	font-size:30px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000, #_idContainer001 {
	display:inline-block;
	height:121px;
	width:89px;
}
#_idContainer002 {
	display:inline-block;
	height:145px;
	width:249px;
}
#_idContainer013 {
	display:inline-block;
	height:0px;
	position:relative;
	width:202px;
}
#_idContainer017 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:107.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:98.31px;
	z-index:0;
}
#_idContainer018 {
	-ms-transform:translate(11.800px,22.868px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(11.800px,22.868px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:42.72px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(11.800px,22.868px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(11.800px,22.868px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:81.51px;
	z-index:1;
}
#_idContainer019 {
	display:inline-block;
	height:108px;
	position:relative;
	width:98px;
}
#_idContainer020 {
	-ms-transform:translate(0.000px,13.196px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,13.196px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:118.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,13.196px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,13.196px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:102.55px;
	z-index:1;
}
#_idContainer021 {
	-ms-transform:translate(0.980px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.980px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.73px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.980px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.980px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:106.58px;
	z-index:6;
}
#_idContainer022 {
	-ms-transform:translate(1.037px,13.196px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.037px,13.196px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:117.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.037px,13.196px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.037px,13.196px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:101.51px;
	z-index:0;
}
#_idContainer023 {
	-ms-transform:translate(2.585px,84.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2.585px,84.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.11px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(2.585px,84.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.585px,84.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.40px;
	z-index:4;
}
#_idContainer024 {
	-ms-transform:translate(3.443px,26.525px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3.443px,26.525px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.11px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(3.443px,26.525px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3.443px,26.525px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.40px;
	z-index:5;
}
#_idContainer025 {
	-ms-transform:translate(14.985px,26.501px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(14.985px,26.501px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:58.44px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(14.985px,26.501px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(14.985px,26.501px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:85.83px;
	z-index:2;
}
#_idContainer026 {
	-ms-transform:translate(14.985px,102.349px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(14.985px,102.349px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:27.23px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(14.985px,102.349px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(14.985px,102.349px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:90.00px;
	z-index:3;
}
#_idContainer027 {
	display:inline-block;
	height:133px;
	position:relative;
	width:108px;
}
#_idContainer028, #_idContainer040, #_idContainer053, #_idContainer070, #_idContainer073, #_idContainer076, #_idContainer086, #_idContainer089, #_idContainer109, #_idContainer111 {
	-ms-transform:translate(0.000px,5.695px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,5.695px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,5.695px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,5.695px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:25.29px;
	z-index:0;
}
#_idContainer029, #_idContainer041, #_idContainer054, #_idContainer071, #_idContainer074, #_idContainer077, #_idContainer087, #_idContainer090, #_idContainer108, #_idContainer112 {
	-ms-transform:translate(31.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(31.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(31.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(31.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.73px;
	z-index:1;
}
#_idContainer030, #_idContainer042, #_idContainer055, #_idContainer072, #_idContainer075, #_idContainer078, #_idContainer091, #_idContainer113 {
	display:inline-block;
	height:15px;
	position:relative;
	width:37px;
}
#_idContainer032 {
	-ms-transform:translate(0.000px,16.341px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,16.341px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:98.60px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,16.341px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,16.341px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:103.20px;
	z-index:1;
}
#_idContainer033 {
	-ms-transform:translate(0.000px,18.129px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,18.129px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:96.15px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,18.129px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,18.129px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:103.01px;
	z-index:0;
}
#_idContainer034 {
	-ms-transform:translate(0.605px,62.133px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.605px,62.133px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.11px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.605px,62.133px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.605px,62.133px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.40px;
	z-index:5;
}
#_idContainer035 {
	-ms-transform:translate(1.463px,7.718px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.463px,7.718px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.08px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(1.463px,7.718px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.463px,7.718px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.40px;
	z-index:6;
}
#_idContainer036 {
	-ms-transform:translate(1.605px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.605px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.20px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(1.605px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.605px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:63.40px;
	z-index:2;
}
#_idContainer037 {
	-ms-transform:translate(15.005px,73.541px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(15.005px,73.541px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:34.74px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(15.005px,73.541px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(15.005px,73.541px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:90.00px;
	z-index:4;
}
#_idContainer038 {
	-ms-transform:translate(15.306px,28.217px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(15.306px,28.217px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.77px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(15.306px,28.217px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(15.306px,28.217px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:88.48px;
	z-index:3;
}
#_idContainer039 {
	display:inline-block;
	height:115px;
	position:relative;
	width:105px;
}
#_idContainer045 {
	-ms-transform:translate(0.000px,14.875px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,14.875px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.12px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,14.875px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,14.875px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:186.56px;
	z-index:1;
}
#_idContainer046 {
	-ms-transform:translate(0.251px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.251px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.73px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.251px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.251px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:186.68px;
	z-index:6;
}
#_idContainer047 {
	-ms-transform:translate(0.669px,14.995px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.669px,14.995px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:118.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.669px,14.995px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.669px,14.995px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:186.26px;
	z-index:0;
}
#_idContainer048 {
	-ms-transform:translate(1.348px,85.049px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.348px,85.049px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.11px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(1.348px,85.049px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.348px,85.049px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:26.10px;
	z-index:4;
}
#_idContainer049 {
	-ms-transform:translate(2.902px,26.634px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2.902px,26.634px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.11px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(2.902px,26.634px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.902px,26.634px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:26.10px;
	z-index:5;
}
#_idContainer050 {
	-ms-transform:translate(23.821px,28.609px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(23.821px,28.609px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:59.51px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(23.821px,28.609px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(23.821px,28.609px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:155.56px;
	z-index:2;
}
#_idContainer051 {
	-ms-transform:translate(23.821px,100.457px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(23.821px,100.457px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.30px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(23.821px,100.457px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(23.821px,100.457px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:163.11px;
	z-index:3;
}
#_idContainer052 {
	display:inline-block;
	height:134px;
	position:relative;
	width:187px;
}
#_idContainer056 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:138.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:213.74px;
	z-index:0;
}
#_idContainer057 {
	-ms-transform:translate(3.955px,123.464px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3.955px,123.464px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:33.89px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(3.955px,123.464px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3.955px,123.464px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:111.85px;
	z-index:1;
}
#_idContainer058 {
	-ms-transform:translate(43.598px,119.175px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(43.598px,119.175px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.20px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(43.598px,119.175px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(43.598px,119.175px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.60px;
	z-index:4;
}
#_idContainer059 {
	-ms-transform:translate(45.851px,51.175px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(45.851px,51.175px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.20px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(45.851px,51.175px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(45.851px,51.175px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:118.72px;
	z-index:3;
}
#_idContainer060 {
	-ms-transform:translate(46.198px,28.899px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(46.198px,28.899px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.20px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(46.198px,28.899px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(46.198px,28.899px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:111.00px;
	z-index:2;
}
#_idContainer061 {
	display:inline-block;
	height:138px;
	position:relative;
	width:214px;
}
#_idContainer062 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.07px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:65.28px;
	z-index:6;
}
#_idContainer063 {
	-ms-transform:translate(0.000px,15.933px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,15.933px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:118.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,15.933px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,15.933px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:98.93px;
	z-index:1;
}
#_idContainer064 {
	-ms-transform:translate(0.543px,15.933px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.543px,15.933px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:119.07px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.543px,15.933px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.543px,15.933px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:98.31px;
	z-index:0;
}
#_idContainer065 {
	-ms-transform:translate(0.700px,85.455px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.700px,85.455px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.11px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.700px,85.455px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.700px,85.455px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.40px;
	z-index:4;
}
#_idContainer066 {
	-ms-transform:translate(1.557px,27.040px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.557px,27.040px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.11px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(1.557px,27.040px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.557px,27.040px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.40px;
	z-index:5;
}
#_idContainer067 {
	-ms-transform:translate(14.957px,99.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(14.957px,99.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:34.74px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(14.957px,99.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(14.957px,99.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:90.00px;
	z-index:3;
}
#_idContainer068 {
	-ms-transform:translate(16.100px,23.015px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(16.100px,23.015px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:71.66px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(16.100px,23.015px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(16.100px,23.015px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:81.51px;
	z-index:2;
}
#_idContainer069 {
	display:inline-block;
	height:135px;
	position:relative;
	width:105px;
}
#_idContainer079 {
	-ms-transform:translate(0.000px,0.000px) rotate(356.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(356.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:48px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(356.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(356.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:96px;
}
#_idContainer082 {
	display:inline-block;
	height:23px;
	width:37px;
}
#_idContainer084 {
	display:inline-block;
	height:171px;
	width:171px;
}
#_idContainer088 {
	-ms-transform:translate(0.000px,0.000px) rotate(41.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(41.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:15px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(41.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(41.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:37px;
}
#_idContainer092 {
	display:inline-block;
	height:108px;
	width:98px;
}
#_idContainer093 {
	-ms-transform:translate(0.000px,115.105px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,115.105px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:22.80px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,115.105px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,115.105px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:98.84px;
	z-index:7;
}
#_idContainer094 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:11.62px;
	z-index:5;
}
#_idContainer095 {
	-ms-transform:translate(0.483px,24.482px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.483px,24.482px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.483px,24.482px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.483px,24.482px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.01px;
	z-index:4;
}
#_idContainer096 {
	-ms-transform:translate(0.483px,98.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.483px,98.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.483px,98.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.483px,98.385px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.11px;
	z-index:1;
}
#_idContainer097 {
	-ms-transform:translate(0.587px,48.860px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.587px,48.860px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.587px,48.860px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.587px,48.860px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.01px;
	z-index:3;
}
#_idContainer098 {
	-ms-transform:translate(0.588px,73.282px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.588px,73.282px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.588px,73.282px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.588px,73.282px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.11px;
	z-index:2;
}
#_idContainer099 {
	-ms-transform:translate(0.707px,10.689px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.707px,10.689px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:125.18px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.707px,10.689px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.707px,10.689px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:23.55px;
	z-index:0;
}
#_idContainer100 {
	-ms-transform:translate(21.799px,0.750px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(21.799px,0.750px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(21.799px,0.750px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(21.799px,0.750px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:24.26px;
	z-index:6;
}
#_idContainer101 {
	-ms-transform:translate(41.383px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(41.383px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(41.383px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(41.383px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:281.37px;
	z-index:0;
}
#_idContainer102 {
	-ms-transform:translate(41.383px,26.965px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(41.383px,26.965px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(41.383px,26.965px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(41.383px,26.965px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:282.57px;
	z-index:1;
}
#_idContainer103 {
	-ms-transform:translate(41.383px,51.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(41.383px,51.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(41.383px,51.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(41.383px,51.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:286.45px;
	z-index:2;
}
#_idContainer104 {
	-ms-transform:translate(41.383px,74.965px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(41.383px,74.965px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(41.383px,74.965px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(41.383px,74.965px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:295.15px;
	z-index:3;
}
#_idContainer105 {
	-ms-transform:translate(41.383px,101.934px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(41.383px,101.934px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(41.383px,101.934px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(41.383px,101.934px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:210.50px;
	z-index:4;
}
#_idContainer106 {
	-ms-transform:translate(41.383px,126.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(41.383px,126.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(41.383px,126.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(41.383px,126.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:297.69px;
	z-index:5;
}
#_idContainer107 {
	display:inline-block;
	height:137px;
	position:relative;
	width:339px;
}
#_idContainer110 {
	-ms-transform:translate(0.000px,0.000px) rotate(221.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(221.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:15px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(221.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(221.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:37px;
}
#_idContainer114 {
	-ms-transform:translate(0.000px,0.529px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.529px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:96.62px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.529px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.529px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:61.15px;
	z-index:1;
}
#_idContainer115 {
	-ms-transform:translate(0.995px,41.837px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.995px,41.837px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.995px,41.837px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.995px,41.837px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:58.56px;
	z-index:7;
}
#_idContainer116 {
	-ms-transform:translate(0.995px,43.837px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.995px,43.837px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.01px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.995px,43.837px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.995px,43.837px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:58.56px;
	z-index:6;
}
#_idContainer117 {
	-ms-transform:translate(27.038px,106.144px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.038px,106.144px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:27.23px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(27.038px,106.144px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.038px,106.144px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:231.60px;
	z-index:0;
}
#_idContainer118 {
	-ms-transform:translate(67.356px,28.437px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(67.356px,28.437px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.31px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(67.356px,28.437px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(67.356px,28.437px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:16.05px;
	z-index:2;
}
#_idContainer119, #_idContainer125 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:93.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:61.04px;
	z-index:0;
}
#_idContainer120, #_idContainer126 {
	-ms-transform:translate(23.016px,5.800px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(23.016px,5.800px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(23.016px,5.800px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(23.016px,5.800px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.01px;
	z-index:2;
}
#_idContainer121, #_idContainer127 {
	-ms-transform:translate(26.321px,80.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(26.321px,80.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(26.321px,80.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(26.321px,80.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:8.40px;
	z-index:1;
}
#_idContainer122 {
	-ms-transform:translate(89.614px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(89.614px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:97.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(89.614px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(89.614px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:65.04px;
	z-index:3;
}
#_idContainer123 {
	-ms-transform:translate(95.915px,41.837px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(95.915px,41.837px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(95.915px,41.837px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(95.915px,41.837px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:52.44px;
	z-index:8;
}
#_idContainer124 {
	-ms-transform:translate(159.257px,28.437px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(159.257px,28.437px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.31px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(159.257px,28.437px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(159.257px,28.437px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:32.10px;
	z-index:5;
}
#_idContainer128 {
	-ms-transform:translate(195.957px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(195.957px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:97.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(195.957px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(195.957px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:65.04px;
	z-index:4;
}
#_idContainer129 {
	-ms-transform:translate(202.257px,41.837px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(202.257px,41.837px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(202.257px,41.837px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(202.257px,41.837px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:52.44px;
	z-index:9;
}
#_idContainer130 {
	display:inline-block;
	height:133px;
	position:relative;
	width:261px;
}
#_idContainer131 {
	display:inline-block;
	height:58px;
	width:358px;
}
#_idContainer132 {
	display:inline-block;
	height:45px;
	width:432px;
}
#_idContainer133 {
	display:inline-block;
	height:35px;
	width:336px;
}
#_idContainer134 {
	display:inline-block;
	height:24px;
	width:496px;
}
#_idContainer135 {
	display:inline-block;
	height:86px;
	width:255px;
}
#_idContainer136 {
	display:inline-block;
	height:34px;
	width:81px;
}
#_idContainer137 {
	display:inline-block;
	height:45px;
	width:565px;
}
#_idContainer138 {
	display:inline-block;
	height:171px;
	width:124px;
}
#_idContainer139 {
	display:inline-block;
	height:81px;
	width:132px;
}
#_idContainer140 {
	display:inline-block;
	height:149px;
	width:190px;
}
#_idContainer141 {
	display:inline-block;
	height:20px;
	width:344px;
}
#_idContainer142 {
	display:inline-block;
	height:35px;
	width:294px;
}
#_idContainer143 {
	display:inline-block;
	height:79px;
	width:251px;
}
#_idContainer144 {
	display:inline-block;
	height:19px;
	width:102px;
}
#_idContainer145 {
	display:inline-block;
	height:20px;
	width:190px;
}
#_idContainer146 {
	display:inline-block;
	height:130px;
	width:159px;
}
#_idContainer147, #_idContainer157 {
	display:inline-block;
	height:30px;
	width:108px;
}
#_idContainer148 {
	display:inline-block;
	height:178px;
	width:159px;
}
#_idContainer150 {
	display:inline-block;
	height:101px;
	width:70px;
}
#_idContainer152 {
	display:inline-block;
	height:57px;
	width:119px;
}
#_idContainer153, #_idContainer159, #_idContainer162 {
	display:inline-block;
	height:34px;
	width:117px;
}
#_idContainer154 {
	display:inline-block;
	height:88px;
	width:110px;
}
#_idContainer155 {
	display:inline-block;
	height:101px;
	width:81px;
}
#_idContainer156 {
	display:inline-block;
	height:88px;
	width:340px;
}
#_idContainer158 {
	display:inline-block;
	height:67px;
	width:159px;
}
#_idContainer160 {
	display:inline-block;
	height:202px;
	width:252px;
}
#_idContainer161 {
	display:inline-block;
	height:72px;
	width:121px;
}
#_idContainer163 {
	display:inline-block;
	height:155px;
	width:403px;
}
#_idContainer164 {
	display:inline-block;
	height:146px;
	width:403px;
}
#_idContainer165 {
	display:inline-block;
	height:201px;
	width:235px;
}
#_idContainer166 {
	display:inline-block;
	height:79px;
	width:147px;
}
#_idContainer167 {
	display:inline-block;
	height:101px;
	width:145px;
}
#_idContainer168 {
	display:inline-block;
	height:58px;
	width:145px;
}
#_idContainer169 {
	display:inline-block;
	height:91px;
	width:187px;
}
#_idContainer170 {
	display:inline-block;
	height:128px;
	width:111px;
}
#_idContainer171 {
	display:inline-block;
	height:58px;
	width:84px;
}
#_idContainer172 {
	display:inline-block;
	height:103px;
	width:246px;
}
#_idContainer173 {
	display:inline-block;
	height:19px;
	width:60px;
}
#_idContainer174 {
	display:inline-block;
	height:22px;
	width:110px;
}
#_idContainer175, #_idContainer178 {
	display:inline-block;
	height:133px;
	width:75px;
}
#_idContainer176 {
	display:inline-block;
	height:23px;
	width:384px;
}
#_idContainer177 {
	display:inline-block;
	height:19px;
	width:111px;
}
#_idContainer179 {
	display:inline-block;
	height:37px;
	width:224px;
}
#_idContainer180 {
	display:inline-block;
	height:120px;
	width:155px;
}
#_idContainer181 {
	display:inline-block;
	height:178px;
	width:322px;
}
#_idContainer182 {
	display:inline-block;
	height:58px;
	width:280px;
}
#_idContainer183 {
	display:inline-block;
	height:78px;
	width:288px;
}
#_idContainer184 {
	display:inline-block;
	height:138px;
	width:167px;
}
#_idContainer186 {
	display:inline-block;
	height:404px;
	width:121px;
}
#_idContainer187 {
	display:inline-block;
	height:122px;
	width:141px;
}
#_idContainer188 {
	display:inline-block;
	height:310px;
	width:131px;
}
#_idContainer189 {
	display:inline-block;
	height:310px;
	width:148px;
}
#_idContainer190 {
	display:inline-block;
	height:79px;
	width:148px;
}
#_idContainer191 {
	display:inline-block;
	height:58px;
	width:166px;
}
#_idContainer192 {
	display:inline-block;
	height:66px;
	width:394px;
}
#_idContainer193 {
	display:inline-block;
	height:58px;
	width:365px;
}
#_idContainer194 {
	display:inline-block;
	height:180px;
	width:394px;
}
#_idContainer195 {
	display:inline-block;
	height:94px;
	width:142px;
}
#_idContainer196 {
	display:inline-block;
	height:25px;
	width:394px;
}
#_idContainer197 {
	display:inline-block;
	height:92px;
	width:89px;
}
#_idContainer198 {
	display:inline-block;
	height:94px;
	width:131px;
}
#_idContainer199, #_idContainer206, #_idContainer209, #_idContainer211 {
	display:inline-block;
	height:108px;
	width:143px;
}
#_idContainer200 {
	display:inline-block;
	height:133px;
	width:185px;
}
#_idContainer201 {
	display:inline-block;
	height:82px;
	width:127px;
}
#_idContainer202 {
	display:inline-block;
	height:31px;
	width:3px;
}
#_idContainer203 {
	display:inline-block;
	height:24px;
	width:61px;
}
#_idContainer204 {
	display:inline-block;
	height:53px;
	width:24px;
}
#_idContainer205 {
	display:inline-block;
	height:52px;
	width:211px;
}
#_idContainer207 {
	display:inline-block;
	height:142px;
	width:365px;
}
#_idContainer208 {
	display:inline-block;
	height:161px;
	width:359px;
}
#_idContainer210 {
	display:inline-block;
	height:58px;
	width:248px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#28a16d;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectStyleOverride-4 {
	background-color:#000000;
	border-width:3px;
}
div._idGenObjectStyleOverride-5 {
	background-color:#000000;
}
div._idGenObjectStyleOverride-6 {
	background-color:#ffffff;
	border-width:1px;
}
div._idGenObjectStyleOverride-7 {
	background-color:#41ad49;
	border-width:0px;
}
div._idGenObjectStyleOverride-8 {
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-width:2px;
}
div._idGenObjectStyleOverride-9 {
	border-width:2px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
div._idGenObjectLayout-2 {
	margin:3px 2px 3px 2px;
}
div._idGenObjectLayout-3 {
	margin:10px 0px 10px 0px;
}
